$bodyBackgroundColor: rgb(0, 0, 0, .5);

// #region Play Ground CSS
$playGroundBackgroundColor: lightblue;
$playGroundMargin: .75rem;
// #endregion Play Ground CSS

// #region Life
$lifeBackground: rgba(0,212,255,1);
$lifeBoxShadow: 1px 1px #000000;
// #endregion Life