/* You can add global styles to this file, and also import other style files */
@import 'assets/common.scss';

body {
    background-color: $bodyBackgroundColor;

    margin: auto;
    padding: 0;
}

.play-ground {
    background-color: $playGroundBackgroundColor;

    position: absolute;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.universe {
    position: relative;
    display: block;
}

.life {
    background: $lifeBackground;

    position: absolute;
    pointer-events: none;

    box-shadow: $lifeBoxShadow;
}
